/* css for the index open */
#maincon {
  margin: 0 auto;
  width:938px;
  background-color: #d7d7d7;
}

.headercon {
  width:938px;
  height: 335px;
  background-color: #a1a1a1;

}

.navlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-size: 55px;
  padding: 15px;
  color:white;
}

/*css main header end */
/*css main product info start */

.profuctInfo{
  width: 505px;
  margin: 0 auto;
}

.product1{
  width: 505px;
  display:flex;
  flex-direction: row;
  padding:10px;
}

.product2{
  width: 505px;
  display:flex;
  flex-direction: row;
  padding:10px;
}


.img1 {
  width: 199px;
  height: 161px;
  background-color: #a1a1a1
}

.prod1{
  width: 287px;
  height: 161px;
  background-color: #626262;
  margin-left: 10px;
}

.prod2{
  width: 287px;
  height: 161px;
  background-color: #626262;
  margin-left: 10px;
}

.img2 {
  width: 199px;
  height: 161px;
  background-color: #a1a1a1
}

.contact {
  width: 507px;
  height: 433px;
  margin: 0 auto;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
