/*universal*/
body{
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.hidden{
  visibility: hidden;
}

/*header/nav open */

.main-nav{
  width: 1080px;
  height: 171px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 80px;
}

nav img{
  height: 171px;
}

.navoptions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.navoptions li a {
  color:#707070;
  padding: 0px 10px 0px 10px;
  font-size: 19px;
  text-decoration: none;
}

.navoptions a:hover {
  background-color: #707070;
  color: white;
}

.navoptions .active {
  background-color: none;
  color: #D18D23;
}

/*header/nav close */

/* home page open */
.sitecon {
  height: 300px;
}


.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: #707070;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  padding: 0px 0px 30px 0px;
  background: white;
  position: relative;
  animation: text 3s 1;
}

.text2{
  font-size: 30px;
  color: #707070;
}

.text3{
  color: #707070;
  font-size: 20px;
  padding: 5px;
}

@keyframes text{
  0%{
    color: white;
    margin-bottom: -90px;
}
  30%{
    letter-spacing: 25px;
    margin-bottom: -90px;
}
  85%{
    letter-spacing: 8px;
    margin-bottom: -90px;
  }

}

/*home page close*/

/* Our story page open */

#maincon {
  width: 900px;
  margin: 0 auto;
}

.three-beer-images img{
  height: 223px;
  width: 267px;
}

.three-beer-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-paragraphs{
  display: flex;
  flex-direction: row;
}

.paragraph{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.paragraph h2{
  font-size: 35px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #707070;
}

.paragraph p{
  font-size: 19px;
  line-height: 22px;
  color: #707070;
}

/* Our story page close */

/* The Beer page open */

.beer-list{
  height: 370px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 20px 20px;
  border-bottom: 2px solid #707070;
}

.beer-list img{
  height: 370px;
}

.beer-list ul{
  padding: 15px;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #707070
}

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewer{
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 400px;
  background-color: #F5F5F5;
  margin-left: 8px;
  margin-top: 25px;
  padding: 5px;
  border-left: 4px solid #707070;

}

.reviewer img{
  height: 78px;
}

.review-comment{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.comment{
  color: #707070;

}

.date{
  font-size: 12px;
  line-height: 20px;
  color: #A2A2A2 ;
}

/* The Beer close */

/* The secret open */



.secret-container{
  margin: 0px 100px 100px 100px;
  padding: 90px 60px 90px 60px;
  background-color: rgba(231, 231, 231, 0.5);
}

.condition-title{
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
}

.word-decor{
  font-size: 45px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
}

.condition-text{
  font-size: 35px;
  width: 800px;
  padding: 20px 0px 20px 0px;
  line-height: 47px;
  color: #707070;
}

.descript1{
  color: #707070;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
  margin: 0px 0px 20px 20px;
}

.descript2{
  color: #707070;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
  margin: 0px 0px 20px 40px;
}

.descript3{
  color: #707070;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
  margin: 0px 0px 20px 60px;
}

.text-badge-row {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.badge img{
  height: 250px;
}

/* the secret close */

/*contact form page open */

.headertext{
  padding: 20px;
  margin: 0 50px 50px 50px;
  text-align: center;
  font-size: 53px;
  font: Black Italic 40px/53px Segoe UI;
  font-style: italic;
  color:#707070;
  border-top:3px solid #E4E5E5;
  border-bottom:3px solid #E4E5E5;
}

.info-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #707070;
}

.store-info {
  line-height: 28px;
  font-size: 19px;
  margin-top: 200px;
  margin-left: 80px;
}

.hours-info{
  margin-top:20px;
}

.contact{
  background:url(file:///C:/Users/emily/Documents/morgan_emily_1056_Project3/images/contactbkg.png);
  width: 900px;
  height: 480px;
  margin: 0 auto;
  padding: 100px 50px 100px 50px;
  text-align: center;
}

.contact-title{
  margin: 10px;
  color: black;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h2 {
  margin: 20px;
  font-size: 60px;
  line-height: 50px;
  color: #707070;
}

.contact-title h3 {
  font-size: 19px;
  line-height: 20px;
  color: #707070;
}

form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control{
  color: black;
  width: 600px;
  background: rgb(225, 225, 225, 0.5);
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px
}

input{
  height: 45px;
}

form .submit {
  background: black;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px;

}

form .submit {
  background-color: black;
  cursor: pointer;
}

/*contact form page close */


/* footer open */

footer{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer img{
  height: 54px;
}

.footertext {
  font-size: 12px;
  padding-left: 15px;
  padding-top: 10px;
  color: #707070;
}


/*footer close*/
